html{
    margin: 2em 4em 0.5em 4em;
    
}
.top { 
    table-layout: fixed ; 
    width: 100%;
    border: 5px solid black; 
   } 
   h1{
    font-size: 35px;
    color: rgb(251, 252, 255);
    background-color: rgb(1, 4, 17);
   }
   .logo {
    width="40" 
    height="50"
   }
   .table { 
    border:1px solid black; 
   } 
   .photograph { 
    border:1px solid black; 
    margin: 22px;
    padding: 52px;
   } 
   .body { 
    table-layout: fixed ; 
    width: 100%;
    border:5px solid black; 
   } 
   tr{
    border:1px solid black; 
    margin: 26px;
    column-gap: 40px;
    column-rule-width: 1px;
    border-collapse: collapse;
   }
.table5 { 
    border:1px solid black; 
    margin: 26px;
    padding: 25px;
    column-gap: 40px;
    column-rule-width: 1px;
    border-collapse: collapse;
   } 
   tr{
    border:1px solid black; 
    margin: 26px;
    column-gap: 40px;
    column-rule-width: 1px;
    border-collapse: collapse;
   }
.table7 { 
    border:1px solid black; 
    margin: 26px;
    padding: 25px;
    column-gap: 40px;
    column-rule-width: 1px;
    border-collapse: collapse;
   } 